* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

img {
    width: 100vw;
}

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

a {
    background-color: darkred;
    color: white;
    text-decoration: none;
    display: block;
    text-align: center;
    padding: 10px;
    font-weight: bolder;
}